[Unit]
Description=Agente de HashiCorp Consul
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
ExecStart=consul agent -config-dir=/etc/consul.d/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
